<html lang="en">
<%- include('partials/head.ejs') %>

    <body>
        <h1>
            <%= title %>
        </h1>

        <%- include('partials/navbar') %>

            <ul>
                <% users.forEach((users)=> { %>
                    <li>
                        <%= users.name %> - <%= users.email %> - <%= users.age %> -
                                    <a href="/edit?id=<%= users._id %>">[Edit]</a>
                    </li>
                    <% }) %>
            </ul>

            <%- include('partials/foot.ejs') %>
    </body>

</html>